.container {
    display: flex;
    flex-direction: column;
    animation: displayContainer 0.8s ease-in-out;
    width: 98vw;
    margin: 0 auto;

    p {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .carrouselContainer {
        overflow: hidden;
        display: flex;
        gap: 1rem;
    }
}

@keyframes displayContainer {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
