.input {
  all: unset;
  padding: 0.625rem 1rem;

  width: 20rem;
  border: solid 1px white;
  border-radius: 0.625rem;
  color: white;
  
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
