.container {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  position: relative;
  z-index: -10;

  .base {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    list-style: none;
    background-color: black;
  }

  .containerUL {
    @extend .base;
    background-color: rgb(203, 21, 167);
    padding: 0.625rem 1rem;
    border: solid 2px white;
    border-radius: 0.625rem;
    color: white;
    font-size: 20px;
  }

  .containerULABS {
    @extend .base;
    opacity: 0;
    background-color: rgb(218, 101, 33);
    color: white;
    font-size: 16px;
    height: 15rem;
    overflow-y: scroll;
    position: absolute;
    top: 92%;
    z-index: 999999;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
    border-radius: 0 0 0.625rem 0.625rem;

    .listData {
      padding-left: 1.8rem;
      padding: 0.6rem 0 0 1.8rem;
      // background-color: black;
    }
  }

  label {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  input {
    all: unset;
    padding: 0.625rem 1rem;

    width: 24rem;
    border: solid 2px white;
    border-radius: 0.625rem;
    color: white;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  textarea {
    all: unset;
    padding: 1.1875rem 1rem;
    width: 24rem;
    border: solid 2px white;
    border-radius: 0.625rem;
    color: white;
    height: 19.3rem;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    resize: none;
    white-space: pre-wrap;
  }
  select {
    all: unset;
    padding: 0.625rem 1rem;
    width: 24rem;
    border: solid 2px white;
    border-radius: 0.625rem;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    position: relative;
    z-index: -10;

    list-style: none;
    option {
      background-color: black;
    }
  }
}

.arrowContainer {
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.625rem;
  bottom: calc(50% - 1.6rem);
  z-index: 1;
  &.open {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
  }
  &.close {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
}

.openMenue {
  animation: openMenu 0.3s ease-in-out forwards;
}
.closeMenue {
  animation: closeMenu 0.3s ease-in-out forwards;
}

@keyframes openMenu {
  0% {
    height: 15rem;
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeMenu {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
    height: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  height: 4rem;

  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  height: 4rem;
  background: red;
  border-radius: 4px;
}

.testContainer {
  width: 26rem;
   background-color: rebeccapurple;
}
