@media (max-width: 400px) {
	html {
		font-size: 12px;
		video::-webkit-media-controls {
			display: none !important;
		}
	}
}

@media (max-width: 750px) {
	html {
		position: relative;
		overflow: hidden;
		-webkit-overflow-scrolling: none;
		* {
			overflow: hidden;
		}
	}
}
