.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem 2.5rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  img {
    width: 3rem;
  }

  .userNameContainer {
    height: 22px;
    display: flex;
    align-items: center;

    gap: 0.75rem;
  }
  .imgContainer {
    width: 15px;
    height: 100%;
    position: relative;
    transform: translateY(2px);
  }
}
